.form {
    display: flex;
    margin-left: 27%;
    .form__img{
        width: 350px;
        height: 500px;
        border-radius: 4px;
}
}
.login{
    margin-left: 30px;
    .login-text{
        font-size: 26px;
        font-weight: bold;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .login-email{
        border: 1px rgb(183, 183, 183) solid;
        border-radius: 4px;
        width: 350px;
        height: 35px;
        padding-left: 10px;
        margin-bottom: 15px;
    }
    .login-password{
        border: 1px rgb(183, 183, 183) solid;
        border-radius: 4px;
        width: 350px;
        height: 35px;
        padding-left: 10px;
        margin-bottom: 15px;
    }
    .login-forgot{
        display: flex;
        font-weight: bold;
        justify-content: end;
    }
    .login-login{
        background-color: rgb(0, 140, 255);
        width: 350px;
        border-radius: 4px;
        height: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .login-or {
        display: flex;
        align-items: center;
        width: 350px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .login-or::before,
    .login-or::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid black;
    }
    .login-or::before {
        margin-right: 10px;
    }
    .login-or::after {
        margin-left: 10px;
    }
    .login-register{
        border: 1px solid black;
        width: 350px;
        border-radius: 4px;
        height: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
